@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px; padding: 0px;
  font-family: 'NanumSquareRound';
}
p {
  margin: 0;
}
#page{
  padding: 0 80px;
}
header {
  height: 100px;
  /* background: red; */
}
#logo-cont {
  /* border: 1px solid #000; */
  width: 300px;
  height: 100px;
  float: left;
  display: flex;
  align-items: center;
}
.logo {
  width : 300px; 
  height : 40px;
}
#login-cont {
  /* border: 1px solid #000; */
  width: 200px;
  height: 100px;
  float: right;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.search-cont{
  /* background: blue; */
  height: 200px;
  display: flex;
  align-items: center;
}
.search {
  width: 80%;
  max-width: 800px;
  margin: auto;
}
.search input {
  height: 50px;
}
#recent_review {
    /* background-color: yellow; */
    /* height: 300px; */
    padding: 0 60px;
}
.section-title {
 font-weight: 700; 
}
#review-cont {
  display: flex;
  /* margin: auto; */
  margin-top:50px;
  justify-content: space-between;
}
.card {
  border: none;
}
.card-body {
  padding: 10px 0;
}
.review-info-top {
  display: flex;
}
.yellow-star {
  margin-right: 10px;
}
.review-info-top > span {
  font-size: 14px;
  margin-left: 5px;
}
.review-info > p {
  margin-top: 5px;
}
.review-info > p:nth-child(2){
  font-size: 14px;
}
.review-info > p:nth-child(3){
  font-weight: bold;
}