html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* COMMON */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "NanumSquareRound";
}

a {
  display: block;
  text-decoration: none;
}

.inner {
  margin: 0 160px;
  position: relative;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100px;
  background: #061B44;
}
header .inner {
  display: flex;
  justify-content: space-between;
}
header .inner .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
header .inner .logo img {
  height: 40px;
}
header .inner .search-container {
  height: 100px;
  display: flex;
  align-items: center;
}
header .inner .search-container input {
  height: 40px;
  border: none;
  border-radius: 25px;
  padding-left: 25px;
  font-size: 14px;
}
header .inner .sub-menu {
  height: 100px;
  display: flex;
  align-items: center;
}
header .inner .sub-menu .login {
  font-size: 0.8rem;
  border: 1px solid white;
  color: white;
  transition: 0.3s;
}
header .inner .sub-menu .login:hover {
  background-color: white;
  color: black;
}
header .inner .sub-menu .profile {
  font-size: 14px;
  display: flex;
  align-items: center;
}
header .inner .sub-menu .profile img {
  width: 30px;
  margin: 0 10px;
}
header .inner .sub-menu .profile {
  color: white;
}
header .inner .sub-menu a {
  font-size: 0.8rem;
  margin-left: 20px;
  cursor: pointer;
  color: white;
}
header .inner .sub-menu a:hover {
  color: #FF7AAA;
}

.header--white {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.header--white .inner .sub-menu .login {
  border: 1px solid #1A1F57;
  color: #1A1F57;
}
.header--white .inner .sub-menu .login:hover {
  background-color: #1A1F57;
  color: white;
}
.header--white .inner .sub-menu .profile {
  color: black;
}
.header--white .inner .sub-menu a {
  color: black;
}
.header--white .inner .sub-menu a:hover {
  color: #FF7AAA;
}

/* BANNER */
.banner {
  margin-top: 100px;
}
.banner img {
  width: 100%;
}

/* RECENT-REVIEW */
.recent-review {
  margin-top: 32px;
  padding-bottom: 30px;
}

.review-list .review-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.review-list .review-container-top h3 {
  font-size: 1.5em;
  margin-right: 10px;
}
.review-list .review-list-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 25%));
  gap: 25px 13px;
  justify-content: space-between;
}
.review-list .review-list-container .review {
  cursor: pointer;
}
.review-list .review-list-container .review .hoverimgchange {
  position: relative;
}
.review-list .review-list-container .review .hoverimgchange img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.review-list .review-list-container .review .hoverimgchange .before {
  border: 0px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
}
.review-list .review-list-container .review .hoverimgchange .before:hover {
  opacity: 0;
}
.review-list .review-list-container .review .card-body {
  background: #FAFAFA;
  border-radius: 10px;
  padding: 15px;
}
.review-list .review-list-container .review .card-body .review-info-top {
  display: flex;
  justify-content: space-between;
}
.review-list .review-list-container .review .card-body .review-info-top .yellow-star {
  font-size: 1.1rem;
  color: #FABF41;
}
.review-list .review-list-container .review .card-body .review-info-top span {
  font-size: 0.7rem;
  color: #adaab1;
}
.review-list .review-list-container .review .card-body p {
  margin-top: 8px;
}
.review-list .review-list-container .review .card-body p:nth-child(2) {
  font-size: 0.7rem;
  color: #adaab1;
}
.review-list .review-list-container .review .card-body p:nth-child(3) {
  font-size: 0.9rem;
}
.review-list .review-list-container .review .card-body p:nth-child(4) {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 21px;
}

/* LOGIN AREA */
.login-area {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.login-area img {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */