@import "_variables";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
// VNG 만들기

//section 별로 div 만들때 margin-top만 사용해서 조절 
body{
    height: 100vh;
}

.tooinner {
    margin: 0 auto;
    position: relative;
}
//header
header {
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .tooinner{
    width: 100%;
    display: flex;
    justify-content: space-between;
        .logo{
        width: 200px;
        height: 80px;
        float: left;
        margin-top: 10px;
        margin-left: 100px;
    }
   .right{
        height: 100px;
        margin-right: 100px;
        float: right;
        display: flex;
        align-items: center;
            
            .right-1{
            font-size: 20px;
            padding:0px 0px 0px 30px;
            }
            .right-2{
                font-size: 20px;
                padding:0px 30px 0px 30px;
            }
             //-------------------------------------------------- VNG 만들기
            .right-3{
                padding:0px 0px 25px 0px;
            a{
            position: relative;
            display: inline-block;
            padding: 15px 20px;
            color: #f403e077;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            letter-spacing: 6px;
            overflow: hidden;
            margin-top: 25px;
            }
            a:hover{
            background: #f403e077;
            color: #050801;
            box-shadow: 0 0 5px #f403e077,
                        0 0 25px #f403e077,
                        0 0 50px #f403e077,
                        0 0 200px #f403e077;
             -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
            }
            a span{
            position: absolute;
            display: block;
            }
            a span:nth-child(1){
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg,transparent,#f403e077);
            animation: animate1 1s linear infinite;
            }
            @keyframes animate1{
            0%{
                left: -100%;
            }
            50%,100%{
                left: 100%;
            }
            }
            a span:nth-child(2){
            top: -100%;
            right: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(180deg,transparent,#f403e077);
            animation: animate2 1s linear infinite;
            animation-delay: 0.25s;
            }
            @keyframes animate2{
            0%{
                top: -100%;
            }
            50%,100%{
                top: 100%;
            }
            }
            a span:nth-child(3){
            bottom: 0;
            right: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(270deg,transparent,#f403e077);
            animation: animate3 1s linear infinite;
            animation-delay: 0.50s;
            }
        @keyframes animate3{
            0%{
                right: -100%;
            }
            50%,100%{
                right: 100%;
            }
        }
        a span:nth-child(4){
            bottom: -100%;
            left: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(360deg,transparent,#f403e077);
            animation: animate4 1s linear infinite;
            animation-delay: 0.75s;
        }
        @keyframes animate4{
            0%{
                bottom: -100%;
            }
            50%,100%{
                bottom: 100%;
            }
        }
            }
            .right-4{
                font-size: 20px;
                padding:0px 0px 0px 30px;
            }
    }   
    .right-1:hover{color: plum; cursor: pointer;} 
    .right-2:hover{color: plum; cursor: pointer;}
    .right-4:hover{color: plum; cursor: pointer;}
 }
}
// section1
.too-section1{
    
    margin-top: 50px;

    .section1-1{
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 100px;
    }
    .section1-2{
        margin-top: 10px;
        margin-left: 100px;
        font-size: 25px;
    }
    .section1-3{
        height: 35px;
        background-color: gainsboro;
        line-height: 35px;
        // line-height랑 div height 같게 주면 수직 가운데 정렬 가능
        margin-top: 35px;
        margin-left: 100px;
        margin-right: 100px;
        .outframe2-3-1{
            font-size: 25px;
        }
    }
    
}
// section3
.too-section2{
    margin-top: 100px;
    .show-list{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
     .show{
        width: 340px;
        display: inline-block;
        text-decoration: none;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        border-radius: 10px;
        margin-bottom: 40px;
        cursor: pointer;
    

        img{
            border-top-left-radius: calc(0.25rem - 1px);
            border-top-right-radius: calc(0.25rem - 1px);
        }

        .hoverimgchange{
            width:340px ;
            height:260px;
            position: relative;

            .before { 
                width:100%; 
                height:100%;
                border:0px; 
                display:block; 
                position:absolute; 
                top:0px; 
                left:0px; 
                transition: opacity 1s; 
            }
            .before:hover{
                opacity: 0;    
            }
           
    }
    .review-info{
        flex: 1 1 auto;
        padding: 1rem 1rem;
    }
    .review-info-top {
        .yellow-star {
          font-size: 1.2em;
          color: rgb(255, 191, 0);
        }
        span {
          font-size: .8em;
          color: #bbb;
        }
      }
    p{
        font-size: 1em;
        margin-top: 8px;
    }
    }
}
 
