*{
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

input, button{
    padding: 5px 10px;
}

#list{
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#list>li {
    flex-basis: 48%;
    margin-bottom: 20px;
}

#list>li>img{
    width: 80px;
    
}