@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 300vh;
}

.tooinner {
  margin: 0 auto;
  position: relative;
}

header {
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .tooinner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
header .tooinner .logo {
  width: 200px;
  height: 80px;
  float: left;
  margin-top: 10px;
  margin-left: 100px;
}
header .tooinner .right {
  height: 100px;
  margin-right: 100px;
  float: right;
  display: flex;
  align-items: center;
}
header .tooinner .right .right-1 {
  font-size: 20px;
  padding: 0px 0px 0px 30px;
}
header .tooinner .right .right-2 {
  font-size: 20px;
  padding: 0px 30px 0px 30px;
}
header .tooinner .right .right-3 {
  padding: 0px 0px 25px 0px;
}
header .tooinner .right .right-3 a {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  color: rgba(244, 3, 224, 0.4666666667);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 6px;
  overflow: hidden;
  margin-top: 25px;
}
header .tooinner .right .right-3 a:hover {
  background: rgba(244, 3, 224, 0.4666666667);
  color: #050801;
  box-shadow: 0 0 5px rgba(244, 3, 224, 0.4666666667), 0 0 25px rgba(244, 3, 224, 0.4666666667), 0 0 50px rgba(244, 3, 224, 0.4666666667), 0 0 200px rgba(244, 3, 224, 0.4666666667);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
}
header .tooinner .right .right-3 a span {
  position: absolute;
  display: block;
}
header .tooinner .right .right-3 a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate1 1s linear infinite;
          animation: animate1 1s linear infinite;
}
@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
header .tooinner .right .right-3 a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate2 1s linear infinite;
          animation: animate2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
header .tooinner .right .right-3 a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate3 1s linear infinite;
          animation: animate3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
header .tooinner .right .right-3 a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate4 1s linear infinite;
          animation: animate4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
header .tooinner .right .right-4 {
  font-size: 20px;
  padding: 0px 0px 0px 30px;
}
header .tooinner .right-1:hover {
  color: plum;
  cursor: pointer;
}
header .tooinner .right-2:hover {
  color: plum;
  cursor: pointer;
}
header .tooinner .right-4:hover {
  color: plum;
  cursor: pointer;
}

.too-section1 {
  width: 100%;
  overflow: hidden;
  height: auto;
  margin-top: 110px;
}
.too-section1 .section1-1 {
  font-size: 20px;
  font-weight: 1000;
  margin-top: 5px;
  margin-left: 100px;
}
.too-section1 .section1-2 {
  margin-top: 50px;
  margin-left: 100px;
}
.too-section1 .section1-2 .right-3 {
  padding: 0px 0px 25px 0px;
}
.too-section1 .section1-2 .right-3 a {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  color: rgba(244, 3, 224, 0.4666666667);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 6px;
  overflow: hidden;
  margin-top: 25px;
  font-size: 30px;
}
.too-section1 .section1-2 .right-3 a:hover {
  background: rgba(244, 3, 224, 0.4666666667);
  color: #050801;
  box-shadow: 0 0 5px rgba(244, 3, 224, 0.4666666667), 0 0 25px rgba(244, 3, 224, 0.4666666667), 0 0 50px rgba(244, 3, 224, 0.4666666667), 0 0 200px rgba(244, 3, 224, 0.4666666667);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
}
.too-section1 .section1-2 .right-3 a span {
  position: absolute;
  display: block;
}
.too-section1 .section1-2 .right-3 a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate1 1s linear infinite;
          animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.too-section1 .section1-2 .right-3 a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate2 1s linear infinite;
          animation: animate2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.too-section1 .section1-2 .right-3 a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate3 1s linear infinite;
          animation: animate3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.too-section1 .section1-2 .right-3 a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate4 1s linear infinite;
          animation: animate4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.too-section1 .section1-2 .section1-2-first {
  float: left;
}
.too-section1 .section1-2 .section1-2-second {
  float: left;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 20px;
}

.f-section2 {
  overflow: hidden;
  height: auto;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 100px;
}

.f-section3 {
  overflow: hidden;
  height: auto;
  margin-top: 80px;
}
.f-section3 .f-section3-container {
  margin-left: 100px;
}
.f-section3 .f-section3-container .slider {
  width: 640px;
  height: 480px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  float: left;
}
.f-section3 .f-section3-container .slider input[type=radio] {
  display: none;
}
.f-section3 .f-section3-container .slider input[type=radio]:nth-child(1):checked ~ .bullets > label:nth-child(1) {
  background-color: rgb(245, 127, 229);
}
.f-section3 .f-section3-container .slider input[type=radio]:nth-child(2):checked ~ .bullets > label:nth-child(2) {
  background-color: rgb(245, 127, 229);
}
.f-section3 .f-section3-container .slider input[type=radio]:nth-child(3):checked ~ .bullets > label:nth-child(3) {
  background-color: rgb(245, 127, 229);
}
.f-section3 .f-section3-container .slider input[type=radio]:nth-child(1):checked ~ ul.imgs > li:nth-child(1) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.f-section3 .f-section3-container .slider input[type=radio]:nth-child(2):checked ~ ul.imgs > li:nth-child(2) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.f-section3 .f-section3-container .slider input[type=radio]:nth-child(3):checked ~ ul.imgs > li:nth-child(3) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
}
.f-section3 .f-section3-container ul.imgs {
  padding: 0;
  margin: 0;
}
.f-section3 .f-section3-container ul.imgs li {
  position: absolute;
  left: 640px;
  transition-delay: 1s;
  list-style: none;
  padding: 0;
  margin: 0;
}
.f-section3 .f-section3-container ul.imgs li .img {
  border-radius: 2%;
  width: 640px;
  height: 480px;
}
.f-section3 .f-section3-container .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 2;
}
.f-section3 .f-section3-container .bullets label {
  display: inline-block;
  border-radius: 50%;
  background-color: pink;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.f-section3 .f-section3-container .f-review {
  width: 45%;
  height: 480px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: lightgray;
  float: left;
  font-size: 20px;
  line-height: 35px;
  padding: 10px 10px 10px 10px;
  border-radius: 2%;
}/*# sourceMappingURL=style.css.map */