@import "_variables";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
// VNG 만들기

//section 별로 div 만들때 margin-top만 사용해서 조절 
body{
    height: 300vh;
}

.tooinner {
    margin: 0 auto;
    position: relative;
}
//header
header {
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .tooinner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
        .logo{
        width: 200px;
        height: 80px;
        float: left;
        margin-top: 10px;
        margin-left: 100px;
    }
   .right{
        height: 100px;
        margin-right: 100px;
        float: right;
        display: flex;
        align-items: center;
            
            .right-1{
            font-size: 20px;
            padding:0px 0px 0px 30px;
            }

            .right-2{
                font-size: 20px;
                padding:0px 30px 0px 30px;
            }
             //-------------------------------------------------- VNG 만들기
            .right-3{
                padding:0px 0px 25px 0px;
            a{
            position: relative;
            display: inline-block;
            padding: 15px 20px;
            color: #f403e077;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            letter-spacing: 6px;
            overflow: hidden;
            margin-top: 25px;
            }
            a:hover{
            background: #f403e077;
            color: #050801;
            box-shadow: 0 0 5px #f403e077,
                        0 0 25px #f403e077,
                        0 0 50px #f403e077,
                        0 0 200px #f403e077;
             -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
            }
            a span{
            position: absolute;
            display: block;
            }
            a span:nth-child(1){
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg,transparent,#f403e077);
            animation: animate1 1s linear infinite;
            }
            @keyframes animate1{
            0%{
                left: -100%;
            }
            50%,100%{
                left: 100%;
            }
            }
            a span:nth-child(2){
            top: -100%;
            right: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(180deg,transparent,#f403e077);
            animation: animate2 1s linear infinite;
            animation-delay: 0.25s;
            }
            @keyframes animate2{
            0%{
                top: -100%;
            }
            50%,100%{
                top: 100%;
            }
            }
            a span:nth-child(3){
            bottom: 0;
            right: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(270deg,transparent,#f403e077);
            animation: animate3 1s linear infinite;
            animation-delay: 0.50s;
            }
        @keyframes animate3{
            0%{
                right: -100%;
            }
            50%,100%{
                right: 100%;
            }
        }
        a span:nth-child(4){
            bottom: -100%;
            left: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(360deg,transparent,#f403e077);
            animation: animate4 1s linear infinite;
            animation-delay: 0.75s;
        }
        @keyframes animate4{
            0%{
                bottom: -100%;
            }
            50%,100%{
                bottom: 100%;
            }
        }
            }
            .right-4{
                font-size: 20px;
                padding:0px 0px 0px 30px;
            }
    }   
    .right-1:hover{color: plum; cursor: pointer;} 
    .right-2:hover{color: plum; cursor: pointer;}
    .right-4:hover{color: plum; cursor: pointer;}
 }
}
// section1
.too-section1{
    width: 100%;
    overflow: hidden;
    height: auto;
    margin-top: 110px;

    .section1-1{
        font-size: 20px;
        font-weight: 1000;
        margin-top: 5px;
        margin-left: 100px;
    }
    .section1-2{
        margin-top: 50px;
        margin-left: 100px;
        .right-3{
            padding:0px 0px 25px 0px;
        a{
        position: relative;
        display: inline-block;
        padding: 15px 20px;
        color: #f403e077;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 6px;
        overflow: hidden;
        margin-top: 25px;
        font-size: 30px;
        }
        a:hover{
        background: #f403e077;
        color: #050801;
        box-shadow: 0 0 5px #f403e077,
                    0 0 25px #f403e077,
                    0 0 50px #f403e077,
                    0 0 200px #f403e077;
         -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
        }
        a span{
        position: absolute;
        display: block;
        }
        a span:nth-child(1){
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(90deg,transparent,#f403e077);
        animation: animate1 1s linear infinite;
        }
        @keyframes animate1{
        0%{
            left: -100%;
        }
        50%,100%{
            left: 100%;
        }
        }
        a span:nth-child(2){
        top: -100%;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#f403e077);
        animation: animate2 1s linear infinite;
        animation-delay: 0.25s;
        }
        @keyframes animate2{
        0%{
            top: -100%;
        }
        50%,100%{
            top: 100%;
        }
        }
        a span:nth-child(3){
        bottom: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(270deg,transparent,#f403e077);
        animation: animate3 1s linear infinite;
        animation-delay: 0.50s;
        }
    @keyframes animate3{
        0%{
            right: -100%;
        }
        50%,100%{
            right: 100%;
        }
    }
    a span:nth-child(4){
        bottom: -100%;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#f403e077);
        animation: animate4 1s linear infinite;
        animation-delay: 0.75s;
    }
    @keyframes animate4{
        0%{
            bottom: -100%;
        }
        50%,100%{
            bottom: 100%;
        }
    }
        }
        
        .section1-2-first{
            float: left;
        }
        .section1-2-second{
            float: left;
            margin-left: 25px;
            margin-top: 25px;
            font-size: 20px;
        }
    
    
    
    
    
    }

}
//section2
.f-section2{
    overflow: hidden;
    height: auto;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
}
//section3
.f-section3{
    overflow: hidden;
    height: auto;
    margin-top: 80px;
    .f-section3-container{
        margin-left: 100px;

        .slider {
            width: 640px;
            height: 480px;
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            float:left;
            input[type=radio] {
                display: none;
                &:nth-child(1):checked~.bullets>label:nth-child(1) {
                    background-color: rgb(245, 127, 229);
                }
                &:nth-child(2):checked~.bullets>label:nth-child(2) {
                    background-color: rgb(245, 127, 229);
                }
                &:nth-child(3):checked~.bullets>label:nth-child(3) {
                    background-color: rgb(245, 127, 229);
                }
                &:nth-child(1):checked~ul.imgs>li:nth-child(1) {
                    left: 0;
                    transition: 0.5s;
                    z-index: 1;
                }
                &:nth-child(2):checked~ul.imgs>li:nth-child(2) {
                    left: 0;
                    transition: 0.5s;
                    z-index: 1;
                }
                &:nth-child(3):checked~ul.imgs>li:nth-child(3) {
                    left: 0;
                    transition: 0.5s;
                    z-index: 1;
                }
            }
        }
        ul.imgs {
            padding: 0;
            margin: 0;
            li {
                position: absolute;
                left: 640px;
                transition-delay: 1s;
                list-style: none;
                padding: 0;
                margin: 0;

                .img{
                    border-radius: 2%;
                    width: 640px ;
                    height: 480px;
                }
            }
        }
        .bullets {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
            z-index: 2;
            label {
                display: inline-block;
                border-radius: 50%;
                background-color: pink;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
        .f-review{
            width: 45%;
            height: 480px;
            margin-left: 100px;
            margin-right: 100px;
            background-color: lightgray;
            float: left;
            font-size: 20px;
            line-height: 35px;
            padding: 10px 10px 10px 10px;
            border-radius: 2%;
        }
            
    
    }
}
