@import "_variables";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
// VNG 만들기

//section 별로 div 만들때 margin-top만 사용해서 조절 

// COMMON

* {
    box-sizing: border-box;
}
.alloutframe{
    height: 100vh;
    width: 100vw;
}
    // section1
.outframe1{
    width: 100%;
    height: 7.69%;
    margin-top: 4.61%;
     .logo{
        width: 10%;
        float: left;
        margin-left: 7.69%;
    }
   .right{
        height: 7.69%;
        margin-right: 7.69%;
        margin-top: 2%;
        float: right;
        display: flex;
        align-items: center;
            
            .right-1{
            font-size: 20px;
            padding:0px 0px 0px 30px;
            }
            .right-2{
                font-size: 20px;
                padding:0px 30px 0px 30px;
            }
             //-------------------------------------------------- VNG 만들기
            .right-3{
                padding:0px 0px 25px 0px;
            a{
            position: relative;
            display: inline-block;
            padding: 15px 20px;
            color: #f403e077;
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            letter-spacing: 6px;
            overflow: hidden;
            margin-top: 25px;
            }
            a:hover{
            background: #f403e077;
            color: #050801;
            box-shadow: 0 0 5px #f403e077,
                        0 0 25px #f403e077,
                        0 0 50px #f403e077,
                        0 0 200px #f403e077;
             -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
            }
            a span{
            position: absolute;
            display: block;
            }
            a span:nth-child(1){
            top: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(90deg,transparent,#f403e077);
            animation: animate1 1s linear infinite;
            }
            @keyframes animate1{
            0%{
                left: -100%;
            }
            50%,100%{
                left: 100%;
            }
            }
            a span:nth-child(2){
            top: -100%;
            right: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(180deg,transparent,#f403e077);
            animation: animate2 1s linear infinite;
            animation-delay: 0.25s;
            }
            @keyframes animate2{
            0%{
                top: -100%;
            }
            50%,100%{
                top: 100%;
            }
            }
            a span:nth-child(3){
            bottom: 0;
            right: 0;
            width: 100%;
            height: 3px;
            background: linear-gradient(270deg,transparent,#f403e077);
            animation: animate3 1s linear infinite;
            animation-delay: 0.50s;
            }
        @keyframes animate3{
            0%{
                right: -100%;
            }
            50%,100%{
                right: 100%;
            }
        }
        a span:nth-child(4){
            bottom: -100%;
            left: 0;
            width: 3px;
            height: 100%;
            background: linear-gradient(360deg,transparent,#f403e077);
            animation: animate4 1s linear infinite;
            animation-delay: 0.75s;
        }
        @keyframes animate4{
            0%{
                bottom: -100%;
            }
            50%,100%{
                bottom: 100%;
            }
        }
            }
            .right-4{
                font-size: 20px;
                padding:0px 0px 0px 30px;
            }
    }   
    .right-1:hover{color: plum; cursor: pointer;} 
    .right-2:hover{color: plum; cursor: pointer;}
    .right-4:hover{color: plum; cursor: pointer;}
}
// section2
.outframe2{
    width: 100vw;
    height: 15%;
    margin-top: 4.61%;
    
    .outframe2-1{
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 7.69%;
    }
    .outframe2-2{
        margin-top: 20px;
        margin-left: 7.69%;
        font-size: 35px;
    }
    .outframe2-3{
        height: 35px;
        background-color: gainsboro;
        font-size: 20px;
        line-height: 35px;
        // line-height랑 div height 같게 주면 수직 가운데 정렬 가능
        margin-top: 30px;
        margin-left: 7.69%;
        margin-right: 7.69%;
    }
    
}
// section3
.outframe3{
    width: 100%;
    margin-top: 7.69%;
    .show-list{
        background-color: white;
        height: 100vh;
        margin-left: 7.69%;
        margin-right: 7.69%;
    }
     .show{

        display: block;
        text-decoration: none;
        float: left;
        margin-left: 3%;
        margin-right: 3%;
        
        
        
        
        .hoverimgchange{
            width:75% ;
            height:20%;
            position: relative;
            
            .after{
                width: 100%;
                height: 100%;
            }
            .before { 
                width:100%; 
                height:100%;
                border:0px; 
                display:block; 
                position:absolute; 
                top:0px; 
                left:0px; 
                transition: opacity 1s; 
            }
            .before:hover{
                opacity: 0;    
            }
           
    }
        .showtable1{
        margin-top: 25px;
        
        .outframe3-table1-name{
            padding-left: 20px;
            font-size: 25px;
        }
        .outframe3-table1-date{
            padding-left: 20px;
            font-size: 25px;
        }
    }
    .show-name{
        width: 75%;
        margin-top: 15px;
        font-size: 20px;
    }
    .show-seat{
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 15px;
    }
 }
}
 
