@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.alloutframe {
  height: 100vh;
  width: 100vw;
}

.outframe1 {
  width: 100%;
  height: 7.69%;
  margin-top: 4.61%;
}
.outframe1 .logo {
  width: 10%;
  float: left;
  margin-left: 7.69%;
}
.outframe1 .right {
  height: 7.69%;
  margin-right: 7.69%;
  margin-top: 2%;
  float: right;
  display: flex;
  align-items: center;
}
.outframe1 .right .right-1 {
  font-size: 20px;
  padding: 0px 0px 0px 30px;
}
.outframe1 .right .right-2 {
  font-size: 20px;
  padding: 0px 30px 0px 30px;
}
.outframe1 .right .right-3 {
  padding: 0px 0px 25px 0px;
}
.outframe1 .right .right-3 a {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  color: rgba(244, 3, 224, 0.4666666667);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 6px;
  overflow: hidden;
  margin-top: 25px;
}
.outframe1 .right .right-3 a:hover {
  background: rgba(244, 3, 224, 0.4666666667);
  color: #050801;
  box-shadow: 0 0 5px rgba(244, 3, 224, 0.4666666667), 0 0 25px rgba(244, 3, 224, 0.4666666667), 0 0 50px rgba(244, 3, 224, 0.4666666667), 0 0 200px rgba(244, 3, 224, 0.4666666667);
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
}
.outframe1 .right .right-3 a span {
  position: absolute;
  display: block;
}
.outframe1 .right .right-3 a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate1 1s linear infinite;
          animation: animate1 1s linear infinite;
}
@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.outframe1 .right .right-3 a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate2 1s linear infinite;
          animation: animate2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.outframe1 .right .right-3 a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate3 1s linear infinite;
          animation: animate3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.outframe1 .right .right-3 a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgba(244, 3, 224, 0.4666666667));
  -webkit-animation: animate4 1s linear infinite;
          animation: animate4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
.outframe1 .right .right-4 {
  font-size: 20px;
  padding: 0px 0px 0px 30px;
}
.outframe1 .right-1:hover {
  color: plum;
  cursor: pointer;
}
.outframe1 .right-2:hover {
  color: plum;
  cursor: pointer;
}
.outframe1 .right-4:hover {
  color: plum;
  cursor: pointer;
}

.outframe2 {
  width: 100vw;
  height: 15%;
  margin-top: 4.61%;
}
.outframe2 .outframe2-1 {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 7.69%;
}
.outframe2 .outframe2-2 {
  margin-top: 20px;
  margin-left: 7.69%;
  font-size: 35px;
}
.outframe2 .outframe2-3 {
  height: 35px;
  background-color: gainsboro;
  font-size: 20px;
  line-height: 35px;
  margin-top: 30px;
  margin-left: 7.69%;
  margin-right: 7.69%;
}

.outframe3 {
  width: 100%;
  margin-top: 7.69%;
}
.outframe3 .show-list {
  background-color: white;
  height: 100vh;
  margin-left: 7.69%;
  margin-right: 7.69%;
}
.outframe3 .show {
  display: block;
  text-decoration: none;
  float: left;
  margin-left: 3%;
  margin-right: 3%;
}
.outframe3 .show .hoverimgchange {
  width: 75%;
  height: 20%;
  position: relative;
}
.outframe3 .show .hoverimgchange .after {
  width: 100%;
  height: 100%;
}
.outframe3 .show .hoverimgchange .before {
  width: 100%;
  height: 100%;
  border: 0px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: opacity 1s;
}
.outframe3 .show .hoverimgchange .before:hover {
  opacity: 0;
}
.outframe3 .show .showtable1 {
  margin-top: 25px;
}
.outframe3 .show .showtable1 .outframe3-table1-name {
  padding-left: 20px;
  font-size: 25px;
}
.outframe3 .show .showtable1 .outframe3-table1-date {
  padding-left: 20px;
  font-size: 25px;
}
.outframe3 .show .show-name {
  width: 75%;
  margin-top: 15px;
  font-size: 20px;
}
.outframe3 .show .show-seat {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */